---
layout: page
section:
  - accueil
  - current-competitions
  - links
---

<script>
get_comps("2016", "France", menu_list);
</script>

<div id="home">

<h2>Dernières nouvelles :</h2>

{% for post in site.categories.news %}
<div class='postdate'>{{ post.date | date: "%-d %b <br/> %Y" }}</div>
<h3>
  {% if post.fullpost %}
  <a class="post-link, clear-decoration" href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
  {% else %}
  {{post.title}}
  {% endif %}
</h3>
<p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}
{% if post.fullpost %}
<br/>
<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Lire la suite...</a>
{% endif %}
</p>
{% endfor %}

</div>
