#hardware-index-table {
  text-align: center;

  .state-ok {
    color: green;
  }

  .state-ko {
    color: red;
  }

  th:hover {
    cursor: pointer;
  }
  .sorter-false:hover {
    cursor: default;
  }

  .hide {
    display: none;
  }
}


