// FIXME: scope this with a "feature-post" class

.card-text {
  text-align: justify;
}

.card-img-right {
  height: 100px;
  width: 100px;
  background-color: #ccc;
  border-radius: 3px;
}


.title-comp-card {
  margin-top: 5px;
  margin-bottom: -5px;
}
