@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';

@import '~flag-icon-css/sass/flag-icon';

@import '../src/variables';
@import '../src/navigation';
@import '../src/homepage';
@import '../src/footer';

html {
  min-height: 100%;
}

body {
  background-color: $bg-body;
}



#main-container {
  padding-top: 2*$offset;
  .container {
    flex-direction: column;
  }
}

#foo {
  display:none;
}

#bar {
  display:block;
}

.horizontal-checkbox {
  .form-check-input {
    position: relative;
    margin-left: 0;
  }
}

.table-bordered {
  th, td {
    border-color: #212529;
  }
}

.custom-control-label {
  &::before {
    right: 0;
    left: auto;
    border: 1px solid #aaa;
  }
  &::after {
    right: 0;
    left: auto;
  }
  overflow: hidden;
}
