@import '~bootstrap/scss/bootstrap';

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

$green: #28a745;
$blue: #3639ed;
$orange: #ffa00e;
$red: #ef1f1c;
$yellow: #ffe300;
$darker-yellow: #ddc500;

$bg-header: #ddd;
$bg-nav: #fff;
$bg-body: #eee;
$border-color: #aaa;

html {
  min-height: 100%;
}

body {
  background-color: $bg-body;
}

@import 'navigation';
@import 'homepage';
@import 'footer';


#main-container {
  padding-top: 2*$offset;
  .container {
    flex-direction: column;
  }
}

#foo {
  display:none;
}

#bar {
  display:block;
}

