@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';

@import '~flag-icon-css/sass/flag-icon';
@import 'simplemde/dist/simplemde.min.css';

@import '../src/variables';
@import '../src/navigation';
@import '../src/homepage';
@import '../src/footer';
@import '../src/sessions';

html {
  min-height: 100%;
}

body {
  background-color: $bg-body;
}



#main-container {
  padding-top: 2*$offset;
  .container {
    flex-direction: column;
  }
}

#foo {
  display:none;
}

#bar {
  display:block;
}

.table-bordered {
  th, td {
    border-color: #212529;
  }
}

.custom-checkbox {
  padding-left: 15px;
  .custom-control-label {
    &::before {
      left: 15px;
      border: 1px solid #aaa;
    }
    &::after {
      left: 15px;
    }
    margin-left: 25px;
  }
}

.user-edit-form {
  .custom-checkbox {
    padding-left: 0;
    .custom-control-label {
      &::before, &::after {
        right: 5px;
        left: auto;
      }
      @extend .col-4;
      margin-left: 0;
    }
  }
}

.post-excerpt {
  p {
    margin-bottom: 0;
  }
}
