<% provide(:active_section, "speedcubing") %>
<%= render "shared/nav_competitions", current_page: :calendrier, title: "Calendrier des compétitions" do %>
  <div class="alert alert-info">
    En reconstruction.
  </div>
<% end %>
