<% provide(:title, "Calendario de competiciones") %>

<% provide(:active_section, "speedcubing") %>
<% content_for :additional_scripts do %>
  <%= javascript_pack_tag "calendar", 'data-turbolinks-track': 'reload'  %>
<% end %>
<%= render "shared/nav_competitions", current_page: :calendar, title: "Calendario de competiciones" do %>
  El calendario a continuación contiene los siguientes elementos:
  <ul class="mb-2">
    <li class="color-green">Competiciones oficiales de la WCA en Madrid</li>
    <li class="color-orange">Competiciones oficiales de la WCA que se están planeando en Madrid</li>
    <li class="color-red">Competiciones oficiales de la WCA en España</li>
    <li class="color-blue">Eventos de la AMS que no son competiciones</li>
  </ul>
  <p class="mb-3">
    Puedes usar la versión de iCal para agregar este calendario como un calendario externo a tu calendario (nota: sólo las próximas competiciones oficiales de la WCA están incluidas en el calendario de iCal).
    <br/>La URL a utilizar es: <code><%= competitions_url(format: "ics") %></code>
  </p>
  <div id="modal-container"></div>
  <div id="calendar" class="enable-calendar mb-5"></div>

  <script>
$(function() {
  window.ams.initCalendar(<%= current_user&.can_manage_calendar? %>);
});
  </script>
<% end %>
