<% provide(:active_section, "speedcubing") %>

<%= render "shared/nav_competitions", current_page: :calendrier, title: "Compétitions" do %>
  <p>
    Historiquement l'AFS a proposé aux organisateurs de compétitions d'héberger leurs pages de compétitions sur le site de l'AFS.
    Le site de la WCA propose depuis maintenant quelques années un service similaire avec plus de fonctionnalités, qui rend donc obsolète les pages sur le site de l'AFS.
    La liste ci dessous regroupe l'ensemble des compétitions qui ont eu une page sur le site de l'AFS.
  </p>
  <% if @competition_pages.any? %>
    <div class="list-group">
      <% @competition_pages.each do |post| %>
        <%= link_to post.title, view_post_path(post), class: "list-group-item list-group-item-action" %>
      <% end %>
    </div>
  <% end %>
<% end %>
