<%= render "nav_competitions", current_page: :unoff do %>
  <h1>Compétitions en préparation</h1>
  <div class="alert alert-danger">
    TODO : pouvoir ajouter des compétitions non officielles dans le calendrier !
  </div>
<% end %>
