Queridos socios,

<p>
  La competición <%= @competition.name %> se anunció ayer. Como de costumbre, encontraréis toda la información al respecto en <%= link_to "la página de la WCA", @competition.website %>.
</p>

<p>
  Estáis recibiendo esta notificación porque así lo seleccionasteis en vuestro perfil. Para dejar de recibir notificaciones como esta, podéis desmarcar la casilla en <%= link_to "vuestro perfil", profile_url %>.
</p>

Atentamente,
<br />
Asociación Madrileña de Speedcubing
