<div class="container">
  <div id="bar">
    <div class="row mb-2">
      <div class="col-md-6 mb-4">
        <div class="card flex-md-row box-shadow h-100">
          <div class="card-body d-flex flex-column align-items-start">
            <div class="d-flex flex-row w-100 mb-2">
              <div>
                <strong class="d-inline-block mb-2 badge badge-primary">WCA</strong>
                <h3 class="mb-0">
                  <a class="text-dark" href="#">WCA Dues System</a>
                </h3>
                <div class="mb-1 text-muted">5 Mars 2018</div>
              </div>
              <div class="card-img-right ml-auto flex-auto d-none d-md-block">thumbnail</div>
            </div>
            <p class="card-text mb-auto">
            Bonjour à tous, Comme vous le savez peut-être, la WCA demande désormais une petite participation pour chaque compétiteur lors d’une compétition.
            Cette participation dépend du pays dans lequel se tient la compétition, et s’élève à $0.50 pour la France. (Plus de détails ici).
            </p>
            <a href="#">Lire la suite...</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card flex-md-row box-shadow h-100">
          <div class="card-body d-flex flex-column align-items-start">
            <div class="d-flex flex-row w-100 mb-2">
              <div>
                <strong class="d-inline-block mb-2 badge badge-primary">AFS</strong>
                <strong class="d-inline-block mb-2 badge badge-success">Vêtements</strong>
                <h3 class="mb-0">
                  <a class="text-dark" href="#">Commande de vêtements AFS</a>
                </h3>
                <div class="mb-1 text-muted">5 Février 2018</div>
              </div>
              <div class="card-img-right ml-auto flex-auto d-none d-md-block">thumbnail</div>
            </div>
            <p class="card-text mb-auto">
            Bonjour à tous, Après le succès de la commande de vêtements de l’année dernière, l’AFS relance une nouvelle commande pour 2018 !
            </p>
            <a href="#">Lire la suite...</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card text-center border-secondary">
      <div class="card-header">
        <div class="float-md-left title-comp-card text-dark">Compétitions à venir</div>
        <ul class="nav nav-tabs card-header-tabs flex-column flex-md-row ml-0 justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="#">En france</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Championnats Internationaux</a>
          </li>
        </ul>
      </div>
      <div class="card-body text-left row">
        <div class="col-md-4">
          <h5 class="card-title">Championnats de France 2018</h5>
          <p class="card-text">Texte qui dit où c'est</p>
          <a href="#" class="btn btn-primary">Visiter le site</a>
        </div>
        <div class="col-md-4">
          <h5 class="card-title">Championnats d'Europe 2018</h5>
          <p class="card-text">Texte qui dit où c'est</p>
          <a href="#" class="btn btn-primary">Visiter le site</a>
        </div>
        <div class="col-md-4">
          <h5 class="card-title">Championnats du Monde 2019</h5>
          <p class="card-text">On sait pas où c'est</p>
        </div>
      </div>
    </div>
    <hr/>
    <h2 class="my-4 text-center">Dernières publications</h2>
    <div class="regular-post card mb-4">
      <div class="card-body d-flex flex-column align-items-start">
        <h4 class="post-title">
          <a href="#" class="text-dark">Compte rendu de l'AG du 16 décembre 2017</a>
        </h4>
        <div class="post-meta text-muted">
          19 janv 2018
        </div>
        <div class="post-excerpt">
          Le compte rendu de l’AG ayant eu lieu lors du Chouchenn Open (finale de la Coupe de France 2017) est disponible ici.
        </div>
      </div>
    </div>
    <div class="regular-post card mb-4">
      <div class="card-body d-flex flex-column align-items-start">
        <h4 class="post-title">
          <a href="#" class="text-dark">Ordre du jour de l'Assemblée Générale de l'AFS du 16 décembre 2017</a>
        </h4>
        <div class="post-meta text-muted">
          20 nov 2017
        </div>
        <div class="post-excerpt">
          L’Assemblée Générale de l’association aura lieu à l’occasion du Chouchenn Open 2017, le samedi 16 décembre, à partir de 9h, au 123 Boulevard de Verdun, 35000 Rennes.
        </div>
        <a href="#">Lire la suite...</a>
      </div>
    </div>
  </div>


  <div id="foo">
    <h2>Association</h2>
    <h3>Présentation</h3>

    <p class="text-justify">L’Association Française de Speedcubing a été créée dans le but de promouvoir le développement de la pratique du cube au niveau national. Une partie de son activité est consacrée à supporter l’organisation de compétitions officielles sur le sol français. Cela peut inclure le prêt de materiel, la participation aux frais de location de salle, etc.</p>

    <h3>Bureau</h3>

    <p>Le bureau est actuellement constitué de Lina Tissier, présidente, Émilien Fabre, trésorier, et Jules Desjardin, secrétaire.</p>
  </div>

</div>
<script>
$(function () {
  console.log('Hello World from Webpacker')
    $('[data-toggle="popover"]').popover()
});
</script>
