<div class="container">
Hi there,

<br/>

<% if current_user %>
  You're logged in as <%= current_user.name %>.<br/>
  <%= link_to "Sign out", signout_path %>
<% else %>
  Please <%= link_to "sign in", signin_path %>!
<% end %>

<br/>

<span class="someclass">test text</span>
<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
</div>
<script>
$(function () {
  console.log('Hello World from Webpacker')
  $('[data-toggle="popover"]').popover()
});
</script>
