<% headers ||= ["Nombre", "Apellido", "WCA ID", "Email", "Pagado el", "", ""] %>
<div class="table-responsive">
<table class="table table-striped table-bordered table-hover table-sm sort-me">
  <thead class="thead-dark">
    <tr>
      <% headers.each do |h| %>
        <th><%= h %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <%= yield %>
  </tbody>
</table>
</div>
