<p>
  <strong>En:</strong>
  <% owners = [] %>
  <% item.owners.each do |owner| %>
    <% owners << "#{owner.user.name} (desde #{l(owner.start)} hasta #{l(owner.end)})" %>
  <% end %>
  <%= owners.join(", ") %>
</p>
