<% provide(:title, "Historique des championnats de France") %>
<% provide(:active_section, "speedcubing") %>
<%= render "shared/nav_competitions", current_page: :cdf, title: "Historique des championnats de France" do %>


  <h3 id="Édition-2018">Édition 2018</h3>

  <p>Comme pour l’édition précédente, la commission vous fournit des informations relatives aux dépôts de dossier, ainsi qu’aux critères d’évaluation : vous pouvez retrouver ces informations <a href="/uploads/CommissionCDF2018.pdf">ici</a>. Par rapport aux éditions précédentes, notez que la Commission doit respecter la Charte en annexe de ce fichier. Merci d’en prendre également connaissance si vous souhaitez déposer un dossier.</p>

  <p>Toutes les informations importantes sont normalement dans ce fichier. Si vous avez une question précise, n’hésitez à la poser sur le forum de l’AFS ou en contactant la commission.</p>

  <h4 id="projet-retenu">Projet retenu</h4>

  <p>Après délibération de la commission, c’est le projet déposé par l’association Only Cube qui a été retenu pour organiser les Championnats de France 2018 !</p>

  <p>La prochaine édition aura donc lieu à Lyon, du 31 Mars au 2 Avril.</p>

  <h3 id="Édition-2017" class="mt-5">Édition 2017</h3>

  <p>Comme pour l’édition précédente, la commission vous fournit des informations relatives aux dépôts de dossier, ainsi qu’aux critères d’évaluation : vous pouvez retrouver ces informations <a href="/uploads/CommissionCDF2017.pdf">ici</a>.</p>

  <p>Toutes les informations importantes sont normalement dans ce fichier. Si vous avez une question précise, n’hésitez à la poser sur le forum de l’AFS ou en contactant la commission.</p>

  <h4 id="projet-retenu-1">Projet retenu</h4>

  <p>Après délibération de la commission, c’est le projet déposé par l’association The Cube Project qui a été retenu pour organiser les Championnats de France 2017 !</p>

  <p>La prochaine édition aura donc lieu à Lille, les 8 et 9 Avril. Toutes les informations se trouvent sur <a href="http://cdf.thecubeproject.fr/">le site de la compétition</a> ainsi que sur <a href="https://www.worldcubeassociation.org/competitions/France2017">la WCA</a>.</p>

  <h3 id="Édition-2016" class="mt-5">Édition 2016</h3>

  <p>Comme pour l’édition précédente, la commission vous fournit des informations relatives aux dépôts de dossier, ainsi qu’aux critères d’évaluation : vous pouvez retrouver ces informations <a href="/uploads/CommissionCDF2016.pdf">ici</a>.</p>

  <p>Toutes les informations importantes sont normalement dans ce fichier. Si vous avez une question précise, n’hésitez à la poser sur le forum de l’AFS ou en contactant la commission.</p>

  <h4 id="projet-retenu-2">Projet retenu</h4>

  <p>Après délibération de la commission, c’est le projet déposé par l’association Youcube et la société Morning Group qui a été retenu pour organiser les Championnats de France 2016 !</p>

  <p>La prochaine édition aura donc lieu à Toulouse, les 30 Avril et 1er Mai, au cours du festival <a href="http://toulouse.festivaldujeu.fr/">alchimie du jeu</a>.</p>

  <p>Le site comportant comme d’habitude le planning, les épreuves disputées, les limites de temps et des qualifications ainsi que les modalités d’hébergement et de restauration.</p>

  <h3 id="Édition-2015" class="mt-5">Édition 2015</h3>

  <p>Comme pour l’édition précédente, la commission vous fournit deux fichiers relatifs aux dépots de candidatures : <a href="/uploads/details_depot_dossier_cdf_2015.pdf">les informations générales concernant les dépôts de dossier</a> et <a href="/uploads/details_evaluation_cdf_2015.pdf">le détail des critères d’évaluations</a>.</p>

  <p>Toutes les informations importantes sont normalent dans ces fichiers. Si vous avez une question précise, n’hésitez à la poser sur le forum de l’AFS ou via l’adresse mail donnée dans ces mêmes fichiers.</p>

  <h4 id="projet-retenu-3">Projet retenu</h4>
  <p>Après délibération de la commission, c’est le projet déposé par Laure Dousset et Philippe Virouleau qui a été retenu pour organiser les Championnats de France 2015 !</p>

  <p>La prochaine édition aura donc lieu à Grenoble et nous leur laissons le soin de vous annoncer bientôt toutes les précisions de rigeurs : date, lieu, site internet.</p>

  <p>Le site comportant comme d’habitude le planning, les épreuves disputées, les limites de temps et des qualifications ainsi que les modalités d’hébergement et de restauration.</p>

  <h3 id="Édition-2014" class="mt-5">Édition 2014</h3>

  <p>Les informations générales sur l’organisation des championnats de France 2014 sont disponible <a href="/uploads/details_evaluation_cdf_2014.pdf">ici</a>.
  Le document décrivant précisement le contenu du dossier de candidature et son évaluation est disponible <a href="/uploads/details_evaluation_cdf_2014.pdf">ici</a>.</p>

  <h4 id="projet-retenu-4">Projet retenu</h4>

  <p>Après délibération de la commission, c’est le projet déposé par l’AFCS (Association Franc-Comptoise de Speedcubing) qui a été retenu pour organiser les Championnats de France 2014 !</p>

  <p>Nous leur laissons le soin de vous annoncer bientôt toutes les précisions de rigeurs : date, lieu et site internet.</p>

  <p>Le site comportant comme d’habitude le planning, les épreuves disputées, les limites de temps et des qualifications ainsi que les modalités d’hébergement et de restauration.</p>

<% end %>
