<% provide(:title, "Campeonato de Madrid") %>
<% provide(:active_section, "speedcubing") %>

<%= render "shared/nav_competitions", current_page: :cdm, title: "Campeonato de Madrid" do %>

  <h3 id="Edición-2019">Edición de 2019</h3>
  <p>La primera edición del Campeonato de Madrid de Speedcubing está aún en fase de preparación.</p>

<!--
  <h3 id="pasadas-ediciones">Pasadas ediciones</h3>
  <p>Para obtener información sobre pasadas ediciones, dirígete a <a href="/speedcubing/cdm_historical/">esta página</a>.</p>
-->
<% end %>
