<% provide(:title, "Histórico de Campeonatos de Madrid") %>
<% provide(:active_section, "speedcubing") %>
<%= render "shared/nav_competitions", current_page: :cdm, title: "Histórico de Campeonatos de Madrid" do %>

<!--
  <h3 id="Édition-2018">Édition 2018</h3>

  <p>Comme pour l’édition précédente, la commission vous fournit des informations relatives aux dépôts de dossier, ainsi qu’aux critères d’évaluation : vous pouvez retrouver ces informations <a href="/uploads/CommissionCDF2018.pdf">ici</a>. Par rapport aux éditions précédentes, notez que la Commission doit respecter la Charte en annexe de ce fichier. Merci d’en prendre également connaissance si vous souhaitez déposer un dossier.</p>

  <p>Toutes les informations importantes sont normalement dans ce fichier. Si vous avez une question précise, n’hésitez à la poser sur le forum de l’AFS ou en contactant la commission.</p>

  <h4 id="projet-retenu">Projet retenu</h4>

  <p>Après délibération de la commission, c’est le projet déposé par l’association Only Cube qui a été retenu pour organiser les Championnats de France 2018 !</p>

  <p>La prochaine édition aura donc lieu à Lyon, du 31 Mars au 2 Avril.</p>
-->
<% end %>
