<% provide(:title, "Copa de Madrid") %>
<% provide(:active_section, "speedcubing") %>
<%= render "layouts/page_wrapper", title: "Copa de Madrid" do %>
  <h3 id="Edición-2019">Edición de 2019</h3>

    <p>La primera edición de la Copa de Madrid de Speedcubing está aún en fase de preparación.</p>

<% end %>
