<% provide(:active_section, "speedcubing") %>
<%= render "layouts/page_wrapper", title: "Tutoriels à destination des futurs juges, compétiteurs, et compétitrices" do %>
  <p>Cette partie regroupe les différents tutoriels à destination des (futurs) juges, compétiteurs, et compétitrices.
  Vous prévoyez de faire une compétition prochainement mais vous ne savez pas comment cela se passe ?
  Pas de problème ! Commencez par lire le <a href="/tuto-competiteurs">tutoriel à destination des compétiteurs</a>, puis celui détaillant plus précisément le <a href="/tuto-resolution">déroulement d'une résolution</a>. Enfin, lors d'une compétition, les compétiteurs peuvent être amenés à juger : ce n'est pas très compliqué, mais la procédure est précise et est décrite dans le <a href="/tuto-juges">tutoriel à destination des juges</a>.</p>

  <p>Ces tutoriels ont été traduits et adaptés de CubingUSA par Gaël Dusser et Philippe Virouleau.
  L'utilisation du genre masculin a été adoptée afin de faciliter la lecture. Elle n'a aucune intention discriminatoire.</p>
<% end %>
