<% provide(:title, "Tutoriales para competidores, jueces y organizadores") %>
<% provide(:active_section, "speedcubing") %>
<%= render "shared/nav_tutos", current_page: :tutos, title: "Tutoriales para competidores, jueces y organizadores" do %>
  <p>En esta página encontrarás diversos tutoriales destinados a (futuros) competidores, jueces y organizadores.
  ¿Planeas asistir a una competición pronto pero no sabes cómo va?
  ¡Sin problema! Empieza por leer el <a href="/tuto-competiteurs">tutorial para competidores</a>, después el que detalla con más precisión el <a href="/tuto-resolution">desarrollo de una resolución</a>. Finalmente, durante una competición, tienes que hacer de juez: no es muy complicado, pero el procedimiento preciso está descrito en el <a href="/tuto-juges">tutorial para jueces</a>.</p>

  <p>Estos tutoriales han sido traducidos y adaptados a partir de los de CubingUSA por María del Mar Gallego Vicente.
  El uso del género masculino ha sido adoptado para facilitar la lectura, nunca con ningún tipo de intención discriminatoria.</p>
<% end %>
