<% provide(:title, "Presentación de la asociación") %>
<% provide(:active_section, "association") %>
<%= render "layouts/page_wrapper", title: "Asociación" do %>
  <h3 id="présentation">Presentación</h3>

  <p>La Asociación Madrileña de Speedcubing fue creada con el objetivo de promover el desarrollo de la práctica del Speedcubing en la Comunidad de Madrid. Nuestra actividad se centra en organizar competiciones oficiales, talleres y actividades diversas centradas en el Speedcubing.</p>

  <h3 id="bureau">Junta Directiva</h3>

  <p>La Junta Directiva está formada actualmente por:
    <ul>
      <li>Presidente: Iván Brigidano Pérez</li>
      <li>Secretaria: María del Mar Gallego Vicente</li>
      <li>Vicepresidenta: Sofía Guerrero Neto</li>
      <li>Tesorero: Bryant Borrego Alvarado</li>
      <li>Vocales: Jesús Lindo García y Francisco Montañés Barbudo</li>
    </ul>
  </p>

<h3 id="bureau">Equipo de Software</h3>

  <p>El Equipo de Software está formado actualmente por:
    <ul>
      <li>Líder: Iván Brigidano Pérez</li>
      <li>Miembros: Javier Espinosa García y Francisco Montañés Barbudo</li>
    </ul>
  </p>

<h3 id="bureau">Equipo de Comunicación</h3>

  <p>El Equipo de Comunicación está formado actualmente por:
    <ul>
      <li>Líder: Sofía Guerrero Neto</li>
      <li>Miembros: Fernando Astasio Ávila y María del Mar Gallego Vicente</li>
    </ul>
  </p>

<% end %>
