<% provide(:title, "Contacto") %>
<% provide(:active_section, "contact") %>

<%= render "layouts/page_wrapper", title: "Contacto" do %>

  <p>Para cualquier cuestión, comentario o sugerencia relacionada con la AMS: envía un correo electrónico a <%= mail_to "contact@speedcubingfrance.org" %>.</p>

  <p>Si has encontrado algún fallo en la página, puedes abrir directamente una Issue en <a href="https://github.com/albertopdrf/ams/issues">GitHub</a>, o contactar con los administradores a través de <%= mail_to "admin@speedcubingfrance.org" %>.</p>
<% end %>
