<% provide(:active_section, "contact") %>

<%= render "layouts/page_wrapper", title: "Contact" do %>

  <p>Pour toute question, remarque, ou suggestion concernant l’AFS : merci d’envoyer un mail à contact@speedcubingfrance.org.</p>

  <p>Si vous constatez un problème avec le site internet, vous pouvez directement ouvrir un bug ("Issue") sur <a href="https://github.com/speedcubingfrance/speedcubingfrance.org/issues">github</a>.</p>
<% end %>
