<% provide(:title, "Recursos externos") %>
<% provide(:active_section, "speedcubing") %>
<div class="alert alert-info">
<!--
  Page en construction. Elle devrait permettre prochainement d'afficher des sites de la communauté.
-->
</div>
