<% provide(:title, "Speedcubing") %>
<% provide(:active_section, "speedcubing") %>
<%= render "layouts/page_wrapper", title: "Speedcubing" do %>
  <h3 id="présentation">Présentation</h3>
  <p>Le speedcubing est la discipline consistant en la résolution de casse-têtes de type rotatifs. À l'échelle mondiale, elle est régit par la <a href="https://www.worldcubeassociation.org/">WCA (World Cube Association)</a> qui se charge depuis 2003 de tenir à jour les résultats et records officiels ainsi que le règlement applicable en compétitions officielles. En France, l'Association Française de Speedcubing se charge de développer cette activité.</p>
  <p>Pour avoir plus de détails sur ce qu'est le speedcubing, vous pouvez consultez la <a href="https://fr.wikipedia.org/wiki/Speedcubing">page Wikipedia</a> sur le sujet.</p>
<% end %>
