<% provide(:title, "Speedcubing") %>
<% provide(:active_section, "speedcubing") %>
<%= render "layouts/page_wrapper", title: "Speedcubing" do %>
  <h3 id="présentation">Presentación</h3>
  <p>El Speedcubing es la disciplina consistente en resolver puzles secuenciales, siendo el más famoso de ellos el Cubo de Rubik. El organismo rector mundial es la <a href="https://www.worldcubeassociation.org/">World Cube Association (WCA)</a>, que es responsable desde 2003 del mantenimiento de los resultados y récords oficiales y la normativa aplicable en competiciones oficiales.</p>
  <p>Para más información sobre qué es el Speedcubing, puedes consultar la <a href="https://en.wikipedia.org/wiki/Speedcubing">página de la Wikipedia (versión inglesa)</a> sobre el tema.</p>
<% end %>
