<% provide(:title, "Tutoriel à destination des juges") %>
<% provide(:active_section, "speedcubing") %>
<%= render "shared/nav_tutos", current_page: :juges, title: "Tutoriel à destination des juges" do %>

  <p>Vous allez être juge lors d'une compétition de Rubik's Cube. N'ayez pas peur,  c'est un processus très simple. Le règlement officiel peut être consulté sur le site de la WCA, mais vous n'avez pas besoin de le connaître par coeur. Voici quelques conseils.</p>

  <h3 id="1-Être-familier-avec-le-règlement-wca">1. Être familier avec le règlement WCA</h3>

  <p>La  World Cube Association (WCA) est l'organisme régulant les compétitions  de speedcubing, un peu comme l'est la FIBA pour le basketball. Le règlement WCA recense toutes les règles devant être respectées par les compétiteurs et compétitrices lors d'une compétition. Il n'est pas nécessaire de connaître toutes les règles par cœur, mais avoir parcouru le règlement sera d'une grande aide. Nous allons ici essayer de mettre l'accent sur les règles les plus importantes.</p>

  <h3 id="2-vous-pouvez-être-juge-et-compétiteur-lors-de-la-même-compétition">2. Vous pouvez être juge et compétiteur lors de la même compétition</h3>

  <p>Les gens s'inquiètent d'être juge parce qu'ils pensent que cela signifie qu'ils ne pourront pas participer à la compétition. Mais c'est totalement faux ! La plupart du temps, un tour est divisé en groupes, vous pouvez donc juger lors du passage d'un autre groupe que le votre, ou lors d'une épreuve à laquelle vous ne participez pas.</p>

  <h3 id="3-demandez-au-juge-principal-ce-que-vous-devez-faire">3. Demandez au Délégué ce que vous devez faire</h3>

  <p>Il  y a deux systèmes principalement utilisés lors des compétitions. Dans le premier, le juge vient chercher un cube à la table des mélanges puis va chercher le compétiteur dans la zone d'attente. Dans le second le juge reste assis à sa table, et des “runners” font des aller-retours entre la table des mélangeurs et les tables des compétiteurs. Dans ce cas les juges restent à leur table.</p>

  <h3 id="4-ne-dérangez-pas-les-participants">4. Ne dérangez pas les participants</h3>

  <p>Assurez-vous que votre téléphone est éteint. Ne tentez pas de discuter avec le compétiteur ou la compétitrice lors de la préparation de sa résolution (y compris avant l'inspection).</p>

  <h3 id="5-annoncez-le-nom-du-compétiteur-ou-de-la-compétitrice">5. Annoncez le nom du compétiteur ou de la compétitrice</h3>

  <p>Appelez le nom inscrit sur la feuille et attendez que la personne arrive, elle devrait être prête, dans la zone d'attente.</p>

  <h3 id="6-faites-attention-à-conserver-le-cube-caché">6. Faites attention à conserver le cube caché</h3>

  <p>Vous aurez un cache-cube pour dissimuler le cube au compétiteur. Il faudra bien faire en sorte que le cube reste caché pendant que le compétiteur se prépare.</p>

  <h3 id="7-assurez-vous-que-vous-et-le-compétiteur-êtes-prêts">7. Assurez-vous que vous et le compétiteur êtes prêts</h3>

  <p>Certaines choses doivent être prêtes avant de démarrer :</p>

  <ul>
    <li>Seuls le cube et le cache-cube doivent être sur le tapis. Tous les autres objets (stylos, etc) sont à côté.</li>
    <li>Le chronomètre du compétiteur indique “0.00”,  si ce n'est pas le cas, appuyez sur le bouton “reset”.</li>
    <li>Votre chronomètre à main est à zéro et prêt à partir.</li>
    <li>Le compétiteur est prêt (a une chaise s'il le souhaite, etc).</li>
  </ul>

  <h3 id="8-demandez-au-compétiteur--prêt-ready">8. Demandez au compétiteur : “Prêt? Ready?”</h3>

  <p>Tenez le cache de façon à être prêt à le retirer rapidement, et puis demandez au compétiteur s'il est prêt. Lorsque vous êtes sûr qu'il est prêt, enlevez le cache et lancez votre chronomètre à main.</p>

  <h3 id="9-dites-8-secondes">9. Dites "8"</h3>

  <p>Lorsque votre chronomètre à main atteint les 8 secondes, dites "8".</p>

  <h3 id="10-dites-go">10. Dites "12"</h3>

  <p>Lorsque votre chronomètre à main atteint 12 secondes, dites "12".</p>

  <h3 id="11-arrêtez-votre-chronomètre-à-main-lorsque-le-compétiteur-lance-le-sien">11. Arrêtez votre chronomètre à main lorsque le compétiteur lance le sien</h3>

  <p>Lorsque le/la compétiteur/trice enlève les mains de son chronomètre, arrêtez le votre. Ce qui importe maintenant ce n'est pas le temps exact, mais la plage dans laquelle il se trouve :</p>

  <ul>
    <li>Le temps est inférieur à 15 secondes. Parfait, il n'y a rien à faire.</li>
    <li>Le temps est supérieur à 15 secondes, mais inférieur à 17 secondes. Le compétiteur aura une pénalité de 2 secondes.</li>
    <li>Le temps est supérieur à 17 secondes. Le compétiteur verra son essai disqualifié (DNF : “Did Not Finish”)</li>
  </ul>

  <h3 id="12-pendant-la-résolution">12. Pendant la résolution</h3>

  <p>Pendant la résolution, vous devrez portez votre attention sur quelques éléments : assurez-vous que le chronomètre du compétiteur ne s'arrête pas, si le compétiteur a mal lancé son chronomètre ou le touche avec ses bras, il risque de l'arrêter par erreur. Soyez sûr de ne pas leur accorder un meilleur temps que la réalité, auquel cas vous devrez appeler le juge principal ou le délégué WCA afin de trouver une solution.</p>

  <p>De plus faites attention à ne pas toucher ou bousculer d'autres compétiteurs qui pourraient être juste à côté de vous.</p>

  <h3 id="13-fin-de-la-résolution">13. Fin de la résolution</h3>

  <p>Le compétiteur posera son cube puis arrêtera son chronomètre. Celui-ci doit être arrêté avec les mains à plat, et surtout pas avec les poignets ou une autre partie du corps. Bien évidemment, aucun mouvement sur le puzzle n'est autorisé après l'arrêt du chronomètre.</p>

  <p>Observez le cube (sans le toucher) et assurez-vous qu'il soit résolu. En cas de léger défaut d'alignement, consultez l'<a href="https://www.worldcubeassociation.org/regulations/#article-10-solved-state">Article 10 du règlement</a> afin de savoir où se situe la limite de pénalité.</p>

  <p>Si vous n'êtes pas sûr, vous pouvez toujours consulter le juge principal ou le délégué WCA. Si vous souhaitez faire ça, demandez-lui de venir à la table, ne vous déplacez pas et n'emportez pas le cube avec vous.</p>

  <h3 id="14-enregistrement-du-temps">14. Enregistrement du temps</h3>

  <p>Si l'utilisateur n'a pas de pénalité, notez le temps sur la feuille de  score, puis paraphez la feuille dans la case juge, et faites parapher le compétiteur dans la case compétiteur. Si le compétiteur a une pénalité, inscrivez le temps du chronomètre suivi des pénalités.
  Exemple : si le compétiteur a fait 16.48 et a une pénalité de 2 secondes, écrivez “16.48 + 2 = 18.48”.
  Si le compétiteur a terminé tous ses essais pour le tour, laissez-lui son cube et mettez la feuille de score complétée à l'endroit indiqué par les organisateurs. Sinon, apportez le cube et la feuille de score à la table de mélange.</p>

  <h3 id="15-en-cas-de-doute-demandez-au-juge-principal-ou-au-délégué-wca">15. En cas de doute, demandez au juge principal ou au délégué WCA</h3>

  <p>Si vous avez des questions sur le règlement, n'hésitez jamais à questionner le juge principal ou le délégué WCA. La plupart des résolutions se dérouleront sans problème, mais certaines situations ne sont pas couvertes par ce tutoriel !</p>
<% end %>
