<% provide(:title, "Cómo organizar una competición de Speedcubing en Madrid, España") %>
<% provide(:active_section, "speedcubing") %>
<%= render "shared/nav_tutorials", current_page: :organizers, title: "Cómo organizar una competición de Speedcubing en Madrid, España" do %>

  <p>Este tutorial va dirigido a todos aquellos que deseen organizar una competición oficial de la WCA en España, y en particular en Madrid. Debes tener en cuenta todo lo que se encuentra en este documento, ya que es un resumen de todas las cosas impuestas por la WCA, buenos hábitos, contactos, etc. En resumen, todo lo que necesitarás. Ten en cuenta que el documento está en orden cronológico, así que no omitas ningún paso.</p>
  <p>Nota: No hay necesidad de pasar por la WCA para organizar otro tipo de eventos sobre el cubo. Si este es su caso, puedes contactar con la AMS o a las diferentes personas de la comunidad a través de las páginas de contacto para obtener ayuda, pues los pasos son distintos.</p>

  <h3 id="1-preámbulo">1. Preámbulo</h3>

  <p>Antes de ponernos manos a la obra, es importante especificar todas las organizaciones y personas involucradas y sus funciones.</p>

    <h4 id="1-1-asociaciones">1.1. Asociaciones</h4>

    <p><a href="https://www.worldcubeassociation.org/">World Cube Association (WCA)</a>: asumimos que estás familiarizado con esta asociación sin ánimo de lucro. Es la organización global que regula las competiciones de speedcubing en todo el mundo. Impone un reglamento y garantiza que todos los resultados registrados en la WCA se han realizado de acuerdo con la regulación establecida.</p>
    <p><a href="http://www.asociacionrubik.es">Asoiación Española del Cubo de Rubik (AECR)</a>: asumimos que estás familiarizado con esta asociación sin ánimo de lucro. Es la organización española que colabora en al organización de competiciones en nuestro país.</p>
    <p><%= link_to "Asociación Madrileña de Speedcubing (AMS)", root_path %>: esta asociación sin ánimo de lucro tiene como principal objetivo promover el mundo del speedcubing en Madrid. Tiene el material oficial de competición en Madrid y puede prestártelo si es necesario. Está compuesta principalmente por la Junta Directiva y los socios, miembros activos de la comunidad cubera.</p>

    <h4 id="1-2-delegados-wca">1.2. Delegados WCA</h4>

    <p>El cumplimiento del Reglamento WCA está garantizado por la presencia de al menos un representante de la WCA en los campeonatos, esto es, un <a href="https://www.worldcubeassociation.org/delegates">Delegado WCA</a>. Estas personas fueron elegidas (por la WCA) por su integridad y experiencia. Hay más de 200 de ellos en el mundo (actualmente cuatro en España). Hablaremos más adelante sobre el papel exacto del Delegado WCA en la competición, pero es importante comprender que su función principal es garantizar la aplicación de las normas. No está relacionado a priori con cuestiones logísticas, materiales o de otro tipo.</p>
    <p>Ten en cuenta que estas personas tienen mucha experiencia y pueden aconsejarte o ponerte en contacto con otros organizadores de España. Puedes preguntarles cualquier duda.</p>

    <h4 id="1-3-la-comunidad">1.3. La comunidad</h4>

    <p>Recuerda que cuando organizas una competición, es la comunidad la que se beneficiará directamente de él, así que no dudes en hablar con personas experimentadas de la comunidad, la mayoría estará encantada de ayudarte.</p>

    <h4 id="1-4-herramientas-de-utilidad">1.4. Herramientas de utilidad</h4>

    <p>Existen otras herramientas como <a href="https://jonatanklosko.github.io/groupifier/">Groupifier</a> y <a href="http://cubecomps.com/">CubeComps</a> que seguro te serán de gran utilidad. El Delegado WCA de tu competición te enseñará a usarlas correctamente.</p>

  <h3 id="2-planificación">2. Planificación</h3>

  <p>Cosas que debes tener en cuenta al planificar una competición.</p>

    <h4 id="2-1-participar-en-otras-competiciones">2.1. Participar en otras competiciones</h4>

    <p>Nada obliga estrictamente a esto, PERO los Delegados WCA sospecharán de una competición organizada por alguien que no tiene experiencia. Un mínimo de cinco competiciones es preferible (cifra orientativa) porque sin ellas estarás perdido y no sabrás cómo proceder cuando ocurran los primeros problemas (y sí, habrá algunos).</p>
    <p>Otro punto para tener en cuenta, a menos que tengas mucha experiencia en este campo, será muy difícil para ti organizar una competición solo. Asegúrate de estar rodeado de gente que pueda ayudarte (antes, durante y después de la competición).</p>

    <h4 id="2-2-encontrar-un-lugar-adecuado">2.2. Encontrar un lugar adecuado</h4>

    <p>El lugar es lo más delicado de encontrar, en general, para un organizador. La WCA impone algunos criterios para el local (<a href="https://www.worldcubeassociation.org/regulations/#article-7-environment">Artículo 7 del Reglamento WCA</a>).</p>
    <ul>
      <li>Debe tener al menos tres zonas:</li>
        <ul>
          <li>El área con las mesas de competición.</li>
          <li>Una sala de espera para los competidores.</li>
          <li>Una zona de público que debe estar al menos a 1,50 metros de la zona de competición.</li>
        </ul>
      <li>También es necesario tener una mesa claramente aislada de la visión de los competidores para hacer las mezclas (mesa de mezclas).</li>
      <li>La iluminación debe ser buena, es decir, blanca e indirecta.</li>
      <li>La temperatura debe ser agradable.</li>
      <li>En el sentido más amplio, se aconseja tener un entorno lo menos molesto posible (temperatura, luminosidad, nivel sonoro, espacio, ...). Recuerda que es probable que vengan los mejores competidores, sería una lástima que no encontraran las mejores condiciones.</li>
    </ul>
    <p>Recuerda que la AMS puede ayudarte en algunos casos con el alquiler del local. También tiene una póliza de seguro que le permite cubrirse en caso de problemas. Si deseas beneficiarte de este seguro, pregunta a la AMS enviando un correo electrónico a <a href="mailto:contacto@speedcubingmadrid.org">contacto@speedcubingmadrid.org</a> con la siguiente información: fecha(s) de la competición, nombre, dirección del sitio y/o tamaño del local.</p>

    <h4 id="2-3-encontrar-una-fecha-provisional-y-un-delegado-wca">2.3. Encontrar una fecha provisional y un Delegado WCA</h4>

    <p>Somos plenamente conscientes de que una vez que se encuentra el sitio ideal, es difícil encontrar una fecha que se adapte a todo el mundo.</p>
    <p>Primero, <b>debes</b> tener un Delegado WCA para tu competición. Para ello, envía un correo electrónico a los Delegados españoles (direcciones de contacto en la página de la WCA) explicando tu proyecto y ellos tratarán de estar disponibles. Recuerda escribir a todos a la vez. Por eso es <b>totalmente</b> necesario planear con anticipación la competición. Los Delegados WCA hacen todo su trabajo de forma totalmente voluntaria y no pueden garantizar su presencia durante todo el año. El Reglamento WCA exige que la competición sea oficial con al menos 28 días de antelación. En España, los Delegados WCA están divididos por zonas, pero puedes pedirle a cualquier Delegado español, o del mundo, que deleguen tu competición.</p>
    <p>En España, los Delegados son generalmente los más conscientes de la presencia de los equipos de competición. Cuéntales cuántos puestos de resolución quieres tener y te notificarán si hay algún problema con el material o si los equipos no está disponible para la fecha que quieres.</p>
    <p>Ponte en contacto con la comunidad para intentar prever el número de personas que estarán interesadas en tu competición. Por ejemplo: si organizas la competición durante los períodos de exámenes, tendrás menos personas.</p>
    <p>Por último, consulta el <%= link_to "calendario de competiciones en la página de la AMS", competitions_path %>, que enumera las competiciones planificadas u oficiales. Esto evita tener dos competiciones al mismo tiempo. Si te has puesto en contacto con todos los Delegados españoles en el momento de tu solicitud, ellos podrán informarte.</p>
    <p>Una vez que la fecha esté fijada con todas las personas mencionadas anteriormente, ingresa la competición en el <%= link_to "calendario de la AMS", competitions_path %> para que otros miembros de la comunidad sepan que planeas organizar en esa fecha. En este momento ya puedes validar la reserva del local.</p>

    <h4 id="2-4-establecer-un-primer-horario">2.4. Establecer un primer horario</h4>

    <p>Siempre es una tarea delicada. Requiere una buena comprensión de lo que puedes hacer con tu local, el número de días, el número de personas presentes (por categoría), ...</p>
    <p>Un primer paso muy importante es seleccionar la lista de categorías que deseas incluir en tu competición.</p>
    <p>A continuación, intenta hacer un primer horario eligiendo el número de rondas por categoría. No te preocupes todavía de los cortes, lo solucionarás más adelante.</p>
    <p>Consulta el apéndice para obtener ayuda con esta tarea. En cualquier caso, el Delegado WCA validará el horario propuesto y podrá ayudarte con cualquier duda que tengas.</p>

    <h4 id="2-5-crear-una-página-web">2.5. Crear una página web</h4>

    <p>Lo más recomendable es usar la página de la WCA de la competición (con sistemas para poner toda la información sobre las pruebas, hacer el horario y un sistema de pestañas donde poner información importante) para poner toda la información necesaria para los competidores. Aquí hay una lista de algunas cosas realmente importantes:</p>
    <ul>
      <li>Lugar.</li>
      <li>Fecha.</li>
      <li>Pruebas.</li>
      <li>Horario.</li>
      <li>Requerimientos de registro.</li>
      <li>Cómo llegar al lugar.</li>
      <li>Propuesta de alojamiento.</li>
    </ul>

    <h4 id="2-6-solicitar-la-oficialización-a-la-wca">2.6. Solicitar la oficialización a la WCA</h4>

    <p>Una vez que todos estos pasos estén completados, y <b>SOLAMENTE</b> una vez que todos estos pasos estén listos, entonces... ¡ya puedes comenzar la oficialización de tu competición! Para ello, pregúntale a tu Delegado WCA indicando la página web en la que normalmente estará disponible toda la información necesaria. Si tienes una restricción en particular, como por ejemplo un límite de personas, ahora es el momento de decirlo porque una vez que sea oficial será más difícil de cambiar.</p>
    <p>A partir de aquí ya no tienes que hacer nada, pues el Delegado WCA hará lo necesario con la WCA. Recibirás notificaciones según el trámite vaya avanzando, y en total puede tardar hasta un par de días.</p>
    <p>Para aceptar los registros es necesario tener una cuenta de la WCA asociada a tu WCA ID. Por tanto, se te pedirá que des una cuenta WCA para cada miembro del equipo organizador, el Delegado WCA se encargará del resto.</p>

    <h4 id="2-7-ya-puedes-hacer-público-tu-competición">2.7. ¡Ya puedes hacer público tu competición!</h4>

    <p>¡Felicidades, tu competición ya es oficial! Ahora puedes anunciarlo en las diferentes redes sociales para que se registre el mayor número de gente posible.</p>

  <h3 id="3-antes-de-la-competición">3. Antes de la competición</h3>

  <p>Antes de la competición, tienes varias tareas que hacer, que detallamos a continuación.</p>

    <h4 id="3-1-gestionar-el-registro">3.1. Gestionar el registro</h4>

    <p>El Delegado WCA te dará los permisos necesarios en la web para gestionar la lista de participantes registrados. Revisa la lista regularmente para aceptar a las personas que cumplan los requisitos de registros en la lista de inscritos. Tú eres el responsable de la logística, por lo que te corresponde a ti gestionar el posible límite de competidores y la lista de espera. Sé especialmente claro con los requisitos de registro, y remítete a ellos. En particular, considera la posibilidad de anunciar si el registro será posible en el sitio o no en el caso de que todavía haya plazas disponibles. Sin embargo, no se puede seleccionar a las personas que se aceptarán en la lista de espera, se debe respetar el orden de llegada. Ten cuidado también si se solicita un pago por adelantado: un registro se completa sólo si el pago se ha realizado, antes de esto está prohibido aceptar al competidor.</p>

    <h4 id="3-2-pedir-la-página-de-wca-live">3.2. Pedir la página de WCA Live</h4>

    <p>Puedes solicitar tu página de <a href="https://live.worldcubeassociation.org">WCA Live</a> en <a href="https://live.worldcubeassociation.org/admin">esta</a> dirección. Se hace a través de tu WCA ID, siendo muy sencillo y sincronizándose automáticamente con los datos de tu competición. Además, se sincroniza con <a href="https://groupifier.jonatanklosko.com">Groupifier</a> para generar las hojas de tiempos de las segundas rondas.</p>

    <h4 id="3-3-contactar-con-los-competidores">3.3. Contactar con los competidores</h4>

    <p>Si quieres enviar un mensaje a todos los competidores, por ejemplo, para proporcionar o solicitar información adicional, haz que tu mensaje sea revisado por el Delegado WCA antes de enviarlo.</p>
    <p>Además, ten en cuenta que las direcciones de correo electrónico de los competidores son estrictamente privadas, por lo que es <b>absolutamente necesario</b> poner estas direcciones en copia oculta.</p>

    <h4 id="3-4-preparar-el-material">3.4. Preparar el material</h4>

    <p>Se necesita mucho material para llevar a cabo una competición:</p>
    <ul>
      <li>StackMats de SpeedStacks.</li>
        <ul>
          <li>Con pilas de repuesto (dos AAA).</li>
        </ul>
      <li>Displays de SpeedStacks.</li>
        <ul>
          <li>Con pilas de repuesto (ocho AA).</li>
        </ul>
      <li>Ordenador con conexión a internet para introducir los resultados.</li>
      <li>Impresora.</li>
        <ul>
          <li>Con tinta negra y un cartucho de repuesto.</li>
          <li>Suficientes folios en blanco.</li>
        </ul>
      <li>Bolígrafos.</li>
      <li>Tapacubos.</li>
      <li>Horario.</li>
      <li>Cronómetros de mano para los jueces.</li>
    </ul>
    <p>La AMS puede proporcionarte (casi) todo el material necesario para llevar a cabo el campeonato.</p>

    <h4 id="3-5-diplomas-y-premios">3.6. Diplomas y premios</h4>

    <p>No es obligatorio dar premios, aunque al menos hay que dar diplomas, pero siempre es más agradable para los ganadores salir con algunos premios, normalmente medallas. Además, si consigues los patrocinadores necesarios, incluso puedes poner premios en metálico, esto hará que más gente se anime a participar en tu competición.</p>

    <h4 id="3-6-patrocinadores">3.7. Patrocinadores</h4>

    <p>Es muy importante conseguir patrocinadores que quieran colaborar con la competición. Puedes llegar a acuerdos económicos con ellos como, por ejemplo, incluirles en el cartel de la competición a cambio de una aportación económica. Pero no tiene por qué ser dinero. Puede haber otro tipo de acuerdos como, por ejemplo, que aporten comida y/o bebida, las medallas, ... esto enriquecerá tu competición, ya que será más conocida gracias a los patrocinadores y más gente querrá ir. Cuantos más patrocinadores consigas, más fácil será costear la competición y abaratar el precio de inscripción.</p>

    <h4 id="3-7-ajustar-el-horario-en-función-del-número-de-competidores">3.8. Ajustar el horario en función del número de competidores</h4>

    <p>Ahora que ya sabes el número de personas inscritas, puedes hacer modificaciones al horario, como ajustar con precisión los límites o equilibrar las diferentes categorías. Los cambios en el mismo día no son recomendables y sólo pueden realizarse antes de la primera ronda del evento en cuestión. ¡Y recuerda que cualquier cambio debe ser aprobado por el Delegado WCA!</p>

    <h4 id="3-8-repasar-el-reglamento-wca">3.9. Repasar el Reglamento WCA</h4>

    <p>El Delegado WCA conoce todas las reglas en detalle, pero lo último que quieres es que el Delegado venga en el último minuto y te diga que esto o aquello no es posible. Así que averigua lo que se permite o no hacer. Se recomienda siempre que el competidor conozca la normativa antes de competir, ya que aclara muchas dudas acerca de las competiciones.</p>

  <h3 id="4-justo-antes-de-la-competición">4. Justo antes de la competición</h3>

  <p>Hay ciertas tareas que deben realizarse justo antes de la competición, es decir, una vez se haya cerrado el registro.</p>

    <h4 id="4-1-asegurarse-de-tener-las-tareas-asignadas">4.1. Asegurarse de tener las tareas asignadas</h4>

    <p>Es importante asegurarse de que haya mezcladores, jueces y runners suficientes. Los competidores en el sitio tendrán que ayudar, obviamente, pero cuidado con los principiantes que no podrán realizar estas tareas antes de ser enseñados. Hacer de juez no es una tarea sencilla, a priori, y hay que estar atento a muchas cosas. Puedes recordar a todos los competidores antes de la competición que lean el <a href="/tutorial-judges">tutorial para jueces</a>, así como hacer un pequeño tutorial antes de las pruebas más populares.</p>
    <p>Para asignar las tareas, te recomendamos usar <a href="https://groupifier.jonatanklosko.com">Groupifier</a>. Si tienes dudas, pregúntaselas a tu Delegado WCA.</p>

    <h4 id="4-2-las-hojas-de-tiempos">4.2. Las hojas de tiempos</h4>

    <p><a href="https://groupifier.jonatanklosko.com">Groupifier</a> también genera las hojas de tiempos de las diferentes rondas. Asegúrate de tener todas las de las primeras rondas debidamente impresas, cortadas y clasificadas en sobres antes de que la competición empiece.</p>

    <h4 id="4-3-las-mezclas">4.3. Las mezclas</h4>

    <p>El Delegado WCA generará las mezclas él mismo. Pregúntale si llevará las mezclas impresas, en una unidad USB o directamente en su ordenador para saber si tienes que preparar algo.</p>

    <h4 id="4-4-asegurarse-de-facilitar-la-llegada-al-lugar-de-la-competición-y-a-las-salas-auxiliares">4.4. Asegurarse de facilitar la llegada al lugar de la competición y a las salas auxiliares</h4>

    <p>Trata de poner carteles con indicaciones sobre la competición, para que sea más fácil llegar al lugar exacto, así como a otros sitios de interés como, por ejemplo, la sala auxiliar para las pruebas de concentración, los aseos, ...</p>

  <h3 id="5-durante-la-competición">5. Durante la competición</h3>

  <p>Ya está, la espera ha terminado, estás ahí, ¡es el gran día! Dependiendo del tamaño de tu competición, puedes cansarte rápido, así que estate preparado.</p>

    <h4 id="5-1-llegar-temprano">5.1. Llegar temprano</h4>

    <p>Tu objetivo será nunca llegar tarde e intentar ser el primero. Así que, para empezar a tiempo, prepara la sala con anticipación para tener todo listo cuando llegue la gente (prevé unos 30 minutos para el registro de competidores, más lo necesario para el montaje: mesas, sillas, timers, displays, ...).</p>

    <h4 id="5-2-tener-siempre-el-horario-en-mente">5.2. Tener siempre el horario en mente</h4>

    <p>Todos te lo preguntarán durante el día. Pon un horario con toda la información relevante por toda la sala y también en la mesa de mezclas.</p>

    <h4 id="5-3-asegurarse-del-buen-desarrollo-de-la-competición">5.3. Asegurarse del buen desarrollo de la competición</h4>

    <p>Este es el punto más importante. Como organizador, eres el responsable de la logística y del buen funcionamiento de la competición. Así como tener suficientes jueces en todo momento, tener mezcladores, a alguien disponible para introducir los tiempos, ... son cosas de las que te tienes que encargar a lo largo del día. Así que sí, probablemente pasarás tu tiempo pidiéndole a la gente que juzgue, entre otras cosas.</p>
    <p>Del mismo modo, eres el que decide cuándo comienza cada grupo. Es importante estar muy atento a esto para que la competición no se retrase. Siempre puedes pedir ayuda a tu Delegado WCA para que te ayude a realizar esta tarea.</p>
    <p>A menudo hay confusión sobre el papel del Delegado WCA en la competición. Aunque siga de cerca la organización, no es su papel asegurarse de que la competición se desarrolle sin problemas en términos de logística. Esto no le impide hacerlo si así lo desea, pero a priori no es su función. Si tu Delegado comienza a intervenir para avanzar en la logística del campeonato es porque has hecho mal tu trabajo desde este punto de vista.</p>
    <p>Por lo demás, tu experiencia en las competiciones anteriores debería ser suficiente para saber qué hacer en cada momento.</p>

    <h4 id="5-4-pegar-hojas-de-resultados"></h4>

    <p>A lo largo del día, publica hojas por la sala con los resultados de cada prueba. De esta manera, los competidores están al tanto de su rendimiento y clasificación para las siguientes rondas.</p>
    <p>Nota: esto no es totalmente imprescindible, ya que siempre puedes redirigirles a la web/app de CubeComps. En este caso, imprime y pega hojas por la sala con el enlace para ver los resultados en la web.</p>

    <h4 id="5-5-informe-diario">5.5. Informe diario</h4>

    <p>En general, es muy apropiado hacer una pequeña revisión con el Delegado WCA al final del día para averiguar qué ha ido bien o qué necesita ser mejorado. Esto es especialmente importante en una competición de dos o más días, para evitar cometer y/o repetir errores demasiado básicos.</p>

    <h4 id="5-6-preparación-de-diplomas-y-premios">5.6. Preparación de diplomas y premios</h4>

    <p>Este es un paso que a veces se puede pasar por alto, pero imprimir los diplomas y firmarlos todos lleva mucho tiempo. Y es una pena perder el tiempo justo antes de la ceremonia de entrega de premios, cuando todo el mundo tiene un tren que coger en alguna parte. Lo mejor es hacerlo sobre la marcha, es decir, en cuanto acabe una final, prepara los diplomas de esa categoría.</p>

    <h4 id="5-7-guarda-las-hojas-de-tiempos">5.7. Guarda las hojas de tiempos</h4>

    <p>El Delegado WCA tendrá que llevárselas para corregir los resultados y verificar que no se ha introducido mal ningún tiempo.</p>

  <h3 id="6-después-de-la-competición">6. Después de la competición</h3>

  <p>¡Felicidades, la competición ha terminado, y seguro que ha sido un éxito! ¡Ya puedes descansar tranquilo!</p>
  <p>No olvides contactar con los competidores para preguntarles qué les ha parecido y así saber si puedes mejorar algo para la próxima ocasión.</p>

  <h3 id="7-consejos-adicionales">7. Consejos adicionales</h3>

  <p>Todos los consejos en esta sección no son cosas obligatorias en sí mismas, pero son cosas que nunca están de más y que le van a dar un extra a tu competición.</p>

    <h4 id="7-1-notificar-a-la-prensa">7.1. Notificar a la prensa</h4>

    <p>La prensa, (principalmente televisiones y periódicos) estará encantada de enviar un pequeño equipo para retransmitir lo que está sucediendo en la competición.</p>

    <h4 id="7-2-retransmitir-en-streaming">7.2. Retransmitir en streaming</h4>

    <p>Las tecnologías actuales nos permiten hacer streaming de una competición sin demasiado esfuerzo, si tu conexión lo permite y tienes el equipo, no te prives de él. Además, ¡la WCA tiene su <a href="https://www.twitch.tv/worldcubeassociation">propio canal de Twitch</a>! Puedes pedirle a tu Delegado WCA si se puede usar para retransmitir tu competición.</p>

    <h4 id="7-3-ofrecer-premios-divertidos">7.3. Ofrecer premios divertidos</h4>

    <p>Ofrece un precio especial para el competidor más joven (o el más mayor, por qué no), para el tiempo más rápido, para todos los tiempos acabados en .00 (¡Chocolate!), etc.</p>

    <h4 id="7-4-montar-algún-stand-de-puzles">7.4. Montar algún stand de puzles</h4>

    <p>Si tienes permiso y puedes organizar un pequeño stand de venta de juegos o equipos gestionados por uno de tus patrocinadores, es un valor añadido.</p>

    <h4 id="7-5-organizar-un-bar">7.5. Organizar un bar</h4>

    <p>Los días de competición son largos (generalmente de 9:00 a 20:00), así que tus competidores querrán tomar algo y comer a lo largo del día. Puedes montar un pequeño stand para vender algunas cosas; no sólo los competidores estarán contentos, sino también los acompañantes.</p>

    <h4 id="7-6-haz-que-tu-evento-sea-único">7.6. Haz que tu evento sea único</h4>

    <p>Todos estos consejos están aquí sobre todo para que entiendas una cosa: ¡tu evento es tuyo! Depende de ti darle forma a tu manera, organizar eventos extraoficiales (team-blind, relays, live FM, mosaicos, speedstacking, ...), añadir animaciones adicionales, etc. En resumen... ¡hacer que la gente lo pase en grande!</p>

<% end %>
