<% provide(:title, "Tutorial para competidores") %>
<% provide(:active_section, "speedcubing") %>
<%= render "shared/nav_tutorials", current_page: :competitors, title: "Tutorial para competidores" do %>

  <p>¡Anda, ya has encontrado un campeonato en el que participar! Pero ¿qué debes hacer ahora?
  Este tutorial te dará algunas respuestas y, esperamos, que te permita aprovechar al máximo esta experiencia. Todos los campeonatos son diferentes, por lo que aquí encontrarás información general a todos ellos.</p>
  <p>También, puedes consultar el tutorial para competidores de la WCA <a href="https://www.worldcubeassociation.org/files/WCA_Competition_Tutorial.pdf">aquí</a>.</p>

  <h3 id="1-estar-familiarizado-con-el-reglamento-wca">1. Estar familiarizado con el Reglamento WCA</h3>

  <p>La World Cube Association (WCA) es el organismo que regula las competiciones de speedcubing, al igual que la FIFA en el fútbol. El Reglamento WCA enumera todas las reglas que deben ser respetadas por los competidores durante una competición.
  No es obligatorio saberte todas de memoria, pero sí necesario y te serán de gran ayuda.</p>

  <h3 id="2-preinscripción">2. Preinscripción</h3>

  <p>La mayoría de las competiciones tienen un formulario de preinscripción, ya sea en su propia página, o en la de la WCA (generalmente es esta última). Al preinscribirte, permites que el equipo organizador sepa de antemano cuántas personas participarán y en qué categorías, con el fin de preparar mejor la competición. Rellena este formulario en cuanto estés seguro de que vas a participar, no esperes hasta el último minuto. Si deseas cambiar la inscripción una vez ya te hayas registrado, simplemente ponte en contacto con el equipo organizador y pídele que realice los cambios. Además, la preinscripción permite que la organización se comunique contigo para aportar información relevante al campeonato (por ejemplo, si se produce un cambio en el desarrollo del concurso o algunas indicaciones previas).</p>
  <p>Las condiciones de registro deben ser publicadas en la página de la WCA, ¡recuerda leerlas con atención antes de apuntarte!</p>

  <h3 id="3-preparación">3. Preparación</h3>

  <p>Vale, supongamos que ya has aprendido todos los OLL y PLL, pero ¿alguna vez has resuelto cubos delante de mucha gente? Las personas que llegan por primera vez a la competición a menudo se ponen nerviosas. Es normal. Para evitar esto, puedes practicar un poco resolviendo cubos delante de amigos o familiares, o incluso en público, en el tren o en otro lugar.
  Puede que, aunque hayas seguido estos pasos, sigas estando nervioso, pero no te preocupes, ¡todo el mundo ha estado en tu lugar! Relájate y trata de hacer los tiempos que sean buenos para ti. Ten en cuenta que las condiciones de practicar en casa y en campeonato no son las mismas, trata siempre de practicar en casa con las condiciones de una competición real (con tiempo de inspección, stack...).</p>

  <h3 id="4-asegúrate-de-que-tus-cubos-están-listos">4. Asegúrate de que tus cubos están listos</h3>

  <p>Si tus pegatinas están un poco chafadas, quizás no tienes por qué cambiarlas, pero si están muy dañadas, deberías plantearte esta opción. Hay muchos sitios dónde puedes comprar nuevas y de buena calidad. Además, asegúrate de que tus cubos sean aptos para la competición (por ejemplo, que solo tengan un logo, o ninguno en el caso de las pruebas a ciegas) ¡y que no hagan pop con mirarlos!</p>

  <h3 id="5-planifica-tu-día">5. Planifica tu día</h3>

  <p>Probablemente querrás pasar la mayor parte del día compitiendo. Entre ronda y ronda, puedes pasar tiempo con otros cuberos, aprender algunos algoritmos, ver algunos cubos raros y ver a otros speedcubers haciéndose los mejores tiempos.
  ¡Asegúrate de tener algún descanso para tomar algo! Algunas competiciones tienen opción de reservar comida, y otras simplemente ponen hora para comer.
  Averigua lo que ofrece la competición, pregunta a los organizadores si es necesario y planifica tu comida.</p>

  <h3 id="6-registro-en-el-campeonato">6. Registro en el campeonato</h3>

  <p>Si te has inscrito previamente por internet, en el registro del campeonato probablemente sólo tengas que dar tu nombre y recoger algunos regalitos. En la mayoría de los campeonatos se realiza el pago por adelantado para agilizar los trámites del campeonato. En este caso, ten en cuenta que el registro de formaliza solo cuando has pagado. El precio se indicará en la página del campeonato.</p>
  <p>Nota: a veces no es posible registrarse in situ (especialmente si se ha alcanzado el número máximo de competidores). Consulta las condiciones de inscripción del campeonato en la página de la WCA.</p>

  <h3 id="7-espera-a-que-te-llamen">7. Espera a que te llamen</h3>

  <p>Durante el transcurso de una prueba, los competidores generalmente se dividen en grupos, así que, si no te llaman en el primer grupo, no te preocupes, sé paciente ¡estarás en los siguientes! Si no te han llamado en el último grupo, entonces pregunta al organizador por si hubiera algún problema.</p>

  <h3 id="8-cuando-te-toque-competir-lleva-tu-cubo-a-la-mesa-de-mezclas">8. Cuando te toque competir, lleva tu cubo a la mesa de mezclas</h3>

  <p>Cuanto te llamen para competir, o sepas que compites en el grupo llamado, lleva tu cubo a la mesa de mezclas. Estarán las hojas de tiempos, deja tu cubo encima de la hoja que tenga tu nombre y ve a la sala de espera. Una vez allí, el runner irá a llamarte para hacer la resolución, y así en cada una. Una vez resuelvas, vuelve a la sala de espera hasta que finalices todos tus intentos. ¡Ya estás más cerca de tener tiempos oficiales! ¡No te desconcentres!</p>

  <h3 id="9-cuando-te-llamen-para-competir-ve-a-la-mesa-indicada">9. Cuando te llamen para competir, ve a la mesa indicada</h3>

  <p>¡Vamos, ve a resolver el cubo! Encontrarás más detalles de esta parte en el <a href="/tutorial-resolution">tutorial específico de resolución</a>.</p>

  <h3 id="10-una-vez-acabada-la-resolución-vuelve-a-la-sala-de-espera">10. Una vez acabada la resolución, vuelve a la sala de espera</h3>

  <p>En una ronda, tendrás que resolver el cubo 5 veces (3 para algunos), así que, una vez hayas resuelto el puzle, vuelve a la sala de espera para ser llamado de nuevo. Deja tu cubo al juez para que se lo lleven a mezclar de nuevo para la siguiente resolución.
  En el caso de una final combinada, los organizadores ponen un límite de tiempo (corte). Tienes dos intentos para bajar del tiempo establecido. Si en uno de los dos intentos consigues pasar el corte ¡muy bien, puedes hacer las otras tres resoluciones! Si, por el contrario, no lo consigues, no pasa nada ¡la próxima vez será! No podrás tener una media oficial, pero esos tiempos se añadirán a tu perfil y a la base de datos de la WCA.</p>

  <h3 id="11-cuando-termines-las-resoluciones-vuelve-a-la-zona-de-público">11. Cuando termines las resoluciones, vuelve a la zona de público</h3>

  <p>Cuando termines tus resoluciones, el juez te devolverá el cubo y habrás terminado la ronda. Ya puedes volver a la zona de público, o ayudar a hacer de juez (léete el <a href="/tutorial-judges">tutorial para jueces</a> primero), runner o mezclador. Ayudar nunca está de más, agilizarás el campeonato y los organizadores y Delegados WCA estarán agradecidos contigo. Sigue así.</p>

  <h3 id="12-diviértete-">12. ¡Diviértete!</h3>

  <p>Un campeonato de speedcubing no es un examen del colegio, estás ahí para pasar un buen día rodeado de gente que comparte tu misma afición. Así que no te dejes llevar por los resultados obtenidos en el campeonato... ¡ve a divertirte y a disfrutar del campeonato!</p>
<% end %>
