<% provide(:title, "Tutorial para jueces") %>
<% provide(:active_section, "speedcubing") %>
<%= render "shared/nav_tutorials", current_page: :judges, title: "Tutorial para jueces" do %>

  <p>Serás juez en un campeonato de speedcubing. No temas, es un proceso muy simple. Las reglas oficiales pueden encontrarse en la página de la WCA, pero no es necesario que te las sepas de memoria. Aquí hay algunos consejos.</p>

  <h3 id="1-estar-familiarizado-con-el-reglamento-wca">1. Estar familiarizado con el Reglamento WCA</h3>

  <p>La World Cube Association (WCA) o Asociación Mundial del Cubo es el organismo que regula las competiciones de speedcubing, un poco como la FIFA en el fútbol. El Reglamento WCA recoge todas las reglas que deben ser respetadas por los competidores en una competición. No es necesario aprenderse las reglas de memoria, pero conocer el reglamento te será de gran ayuda. En este tutorial vamos a intentar centrarnos en las que son más importantes y debes conocer.</p>

  <h3 id="2-puedes-ser-juez-y-competidor-en-la-misma-competición">2. Puedes ser juez y competidor en la misma competición</h3>

  <p>La gente se preocupa por tener que hacer de juez, porque piensan que eso significa que no podrán competir. ¡Pero eso no es verdad! La mayoría de las veces, una ronda se divide en grupos, así que puedes ser juez cuando otro grupo compita o cuando no participes en una prueba.</p>

  <h3 id="3-pregunta-al-delegado-wca-lo-que-debes-hacer">3. Pregunta al Delegado WCA lo que debes hacer</h3>

  <p>Hay dos sistemas que se utilizan principalmente en las competiciones. En el primero, el juez coge un cubo de la mesa de mezclas y luego llama al competidor de la sala de espera. En el segundo, el juez se sienta en su mesa y los runners hacen viajes de ida y vuelta entre la mesa de mezclas y las mesas de competición. En este caso, los jueces permanecen en las mesas.</p>

  <h3 id="4-no-molestes-a-los-competidores">4. No molestes a los competidores</h3>

  <p>Asegúrate de que tu móvil está apagado o en silencio. No intentes conversar con el competidor cuando se prepare para la resolución (tampoco antes de la inspección), ni meterle prisa. Necesitan concentrarse y cada uno tiene sus métodos. Igual que a ti no te gustaría que te molestaran en una resolución, a ellos tampoco. ¡Ponte en su lugar!</p>

  <h3 id="5-llama-al-competidor">5. Llama al competidor</h3>

  <p>Llama al competidor que aparezca en la hoja y espéralo, debe estar preparado en la sala de espera.</p>

  <h3 id="6-no-destapes-el-cubo-antes-de-tiempo">6. No destapes el cubo antes de tiempo</h3>

  <p>Cuando cojas el cubo de la mesa de mezclas, asegúrate de que tenga un tapacubos puesto, para que no lo vea el competidor. No debes levantarlo hasta que el competidor no esté preparado para empezar la inspección.</p>

  <h3 id="7-asegúrate-de-que-el-competidor-y-tú-estéis-preparados">7. Asegúrate de que el competidor y tú estéis preparados</h3>

  <p>Algunas cosas deben estar preparadas antes de comenzar:</p>

  <ul>
    <li>Sólo el cubo y el tapacubos deben estar sobre el tapete. Los demás objetos (bolígrafos, cronómetro de mano, ...) están en un lado, sin molestar.</li>
    <li>El cronómetro del competidor indica 0.00. De lo contrario, pulsa el botón "reset".</li>
    <li>El cronómetro de mano está en cero y listo para funcionar.</li>
    <li>El competidor está listo.</li>
  </ul>

  <h3 id="8-pregunta-al-competidor-si-está-listo">8. Pregunta al competidor si está listo</h3>

  <p>Sujeta la cubierta del tapacubos de manera que estés listo para quitarla rápidamente y pregúntale al competidor si está preparado. Cuando estés seguro de que está listo, retira el tapacubos y pon en marcha el cronómetro de mano. Puedes preguntarle de varias formas: "¿Estás listo?", "Cuando quieras", "¿Preparado?", o alguna del estilo.</p>

  <h3 id="9-avisa-a-los-8-segundos">9. Avisa a los 8 segundos</h3>

  <p>Cuando el cronómetro de mano marque 8 segundos, avisa al competidor diciendo: "¡Ocho!".</p>

  <h3 id="10-avisa-a-los-12-segundos">10. Avisa a los 12 segundos</h3>

  <p>Cuando el cronómetro de mano marque 12 segundos, avisa al competidor diciendo: "¡Doce!".</p>

  <h3 id="11-para-el-cronómetro-de-mano-cuando-el-competidor-inicie-el-suyo">11. Para el cronómetro de mano cuando el competidor inicie el suyo</h3>

  <p>Cuando el competidor levante las manos de su cronómetro, para el de mano. Lo que importa ahora no es el tiempo exacto, sino el momento en el que se encuentre:</p>

  <ul>
    <li>El tiempo es inferior a 15 segundos. ¡Perfecto! No tienes nada más que hacer.</li>
    <li>El tiempo es superior a 15 segundos, pero inferior a 17. El competidor tendrá una penalización de 2 segundos (+2).</li>
    <li>El tiempo es superior a 17 segundos. El competidor estará descalificado (DNF).</li>
  </ul>

  <h3 id="12-durante-la-resolución">12. Durante la resolución</h3>

  <p>Durante la resolución, tendrás que poner toda tu atención en algunas cosas: asegúrate de que el cronómetro del competidor no se detiene, si el competidor ha iniciado mal su cronómetro o lo toca sin querer, puede detenerse por error. Asegúrate de no darles más tiempo del que realmente tienen, en cuyo caso tendrás que llamar al Delegado WCA para encontrar una solución.</p>

  <p>Cuidado también de no tocar o empujar a otros competidores que pueden estar a tu lado.</p>

  <h3 id="13-fin-de-la-resolución">13. Fin de la resolución</h3>

  <p>El competidor dejará el cubo en el tapete y detendrá el cronómetro. Esto último debe hacerse con las manos rectas y las palmas hacia abajo, y nunca con las muñecas ni con cualquier otra parte del cuerpo.</p>

  <p>Observa el cubo (sin tocarlo) y asegúrate de que está resuelto. En caso de una ligera desalineación, consulta el <a href="https://www.worldcubeassociation.org/regulations/#article-10-solved-state">Artículo 10 del Reglamento WCA</a> para saber dónde está el límite de la sanción, es decir, si es o no +2 o DNF.</p>

  <p>Si tienes dudas, llama al Delegado WCA. Si quieres hacer eso, pídele que venga a la mesa, no te muevas y no te lleves el cubo contigo para enseñárselo.</p>

  <h3 id="14-escribe-el-resultado-final">14. Escribe el resultado final</h3>

  <p>Si el competidor no tiene penalización, anota el tiempo en la hoja de tiempos, luego pon tu nombre o iniciales en la hoja de tiempos en la casilla del juez y haz que el competidor firme en la casilla del competidor. Si el competidor tiene una penalización, introduce el tiempo del cronómetro seguido de las penalizaciones.
  Ejemplo: Si el competidor ha hecho 16.48 y tiene una penalización de 2 segundos, escribe "16.48 + 2 = 18.48".
  Si el competidor ha completado todos sus intentos de la ronda, deja su cubo y pon la hoja de tiempos completa en el lugar indicado por los organizadores. De lo contrario, lleva el cubo y la hoja de tiempos a la mesa de mezclas.</p>

  <h3 id="15-en-caso-de-duda-pregunta-al-delegado-wca">15. En caso de duda pregunta al Delegado WCA</h3>

  <p>Si tienes alguna pregunta del reglamento, no dudes nunca en preguntar al Delegado WCA. La mayoría de las resoluciones se desarrollarán sin problema, ¡pero algunas situaciones no las resuelve este tutorial!</p>
<% end %>
