<% provide(:title, "Tutorial para competidores: la resolución") %>
<% provide(:active_section, "speedcubing") %>
<%= render "shared/nav_tutorials", current_page: :resolution, title: "Tutorial para competidores: la resolución" do %>

  <p>Este tutorial te ayudará realizar tus resoluciones oficiales de forma correcta. Para más información sobre este tema, consulta el <a href="https://www.worldcubeassociation.org/regulations/#article-A-speedsolving">Artículo A del Reglamento WCA</a>.</p>

  <h3 id="1-sentado-o-de-pie">1. ¿Sentado o de pie?</h3>

  <p>En una resolución puedes elegir resolverlo sentado o de pie. Es una cuestión personal, elige lo que sea mejor y más cómodo para ti. Normalmente la gente opta por sentarse, pero como digo, es elección de cada uno. Si no hay silla en la mesa en la que estás, mira alrededor, probablemente haya una por ahí, así que no dudes en usarla. Si, por el contrario, hay una pero no la necesitas, déjala a un lado.</p>

  <h3 id="2-inspección">2. Inspección</h3>

  <p>Antes de comenzar a resolver el puzle, tienes derecho a 15 segundos para inspeccionarlo. Cuando llegues a la mesa, el juez te preguntará si estás preparado. Cuando digas que sí, te destapará el tapacubos y ahí empezará el tiempo de inspección. Para este tiempo, se utilizan los cronómetros de mano, así que por el momento no inicies el cronómetro de competición.</p>

  <p>Durante estos segundos, observa cuáles van a ser tus primeros movimientos. No hagas ningún movimiento en esta inspección, ya que, si lo haces, serás descalificado (DNF). El juez te dará un aviso a los 8 segundos. A los 12 segundos, te avisará también. Cuando te veas preparado (siempre antes de los 15 segundos), deja el cubo y pon las manos en el cronómetro. Es muy importante que esperes a que se ilumine la luz verde, ya que, de lo contrario, en cronómetro no empezará y el resultado será DNF. Piensa que es como un semáforo, ¡en rojo nunca se puede cruzar!</p>

  <p>Nota: tienes derecho a 15 segundos de inspección, pero no estás obligado a utilizar todo el tiempo. Si a los 6 segundos ya estás preparado, pon en marcha el cronómetro y resuelve el puzle.</p>

  <h3 id="3-inicio-del-cronómetro">3. Inicio del cronómetro</h3>

  <p>El cronómetro utilizado en las competiciones de la WCA es el StackMat Timer de Speedstacks.</p>

  <p>Para poner en marcha el cronómetro, coloca los dedos sobre él, con la palma de la mano hacia abajo, donde el dibujo de las manos. La luz roja se enciende en este momento. Deja ambas manos hasta que se encienda la luz verde (aproximadamente 1 segundo). Una vez que la luz verde está encendida, puedes quitar tus manos, coger el cubo y resolverlo. Las luces roja y verde parpadean mientras el cronómetro está en marcha.</p>

  <p>Durante la resolución, ten cuidado de no tocar el cronómetro, podrías pararlo antes de finalizar el cubo. Si estás sentado, asegúrate de que tus antebrazos no toquen el cronómetro sin querer.</p>

  <h3 id="4-resolución-del-puzle">4. Resolución del puzle</h3>

  <p>Has venido a la competición, ¡así que es evidente que sabes resolverlo! Si el cubo popea, vuélvelo a montar y termina la resolución. No pidas ayuda, si lo haces, tendrás una penalización de DNF. Si después de hacerlo, llegas a un caso irresoluble, desmóntalo de nuevo y vuelva a montarlo correctamente. Por supuesto, el cubo debe estar completamente resuelto al final, de lo contrario tendrás una penalización de DNF. Si tienes 2 DNFs en la misma ronda (o sólo uno en una media de 3), no tendrás media y probablemente no puedas acceder a la siguiente ronda.</p>

  <p>Aunque creas que lo has resuelto lento, intenta siempre acabar el cubo. Mejor un mal tiempo que un DNF.</p>

  <h3 id="5-parar-el-cronómetro">5. Parar el cronómetro</h3>

  <p>Cuando hayas resuelto el cubo, pónlo sobre el tapete y coloca ambas manos sobre el cronómetro, en la misma posición que para iniciarlo. Para bien el cronómetro con las dos manos rectas y las palmas hacia abajo, de lo contrario puedes tener una penalización.</p>

  <p>¡No estás practicando karate, no pares el cronómetro con las muñecas! Si presionas el cronómetro rápidamente y retiras las manos inmediatamente, es posible que no se detenga. Pon ambas manos y déjalas hasta que las luces dejen de parpadear. No reinicies el cronómetro hasta que el juez haya apuntado correctamente el tiempo.</p>

  <h3 id="6-fin-de-la-resolución">6. Fin de la resolución</h3>

  <p>En este punto, no toques el cubo ni el cronómetro. El juez verificará el estado del cubo, y anotará el tiempo en la hoja de tiempos. Después tendrás que firmar o poner tus iniciales en la hoja. Firma sólo si estás de acuerdo con el tiempo registrado por el juez. Si no estás conforme, llama al Delegado WCA y cuéntale lo que ha pasado, él tomará la decisión pertinente.</p>
<% end %>
