<% provide(:title, "Etiquetas") %>
<h1>Etiquetas</h1>

<%= link_to 'Lista de publicaciones', news_index_path %>

<p>
  Haz clic sobre una etiqueta para editar el texto que se muestra y su color.
</p>

<div class="tag-index">
  <% @tags.each do |tag| %>
    <%= render("shared/tag", tag: tag, container: :a, link: edit_tag_path(tag)) %>
  <% end %>
</div>
