<div class="row mb-2">
  <% @featured_posts.each do |post| %>
    <%= render "featured_post", post: post %>
  <% end %>
</div>
<div class="card text-center border-secondary">
  <div class="card-header">
    <div class="float-md-left title-comp-card text-dark">Compétitions à venir</div>
    <ul id="competitions_tabs" role="tablist" class="nav nav-tabs card-header-tabs flex-column flex-md-row ml-0 justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" id="france-tab" data-toggle="tab" role="tab" aria-controls="france" aria-selected="true" href="#france">En France</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="champs-tab" data-toggle="tab" role="tab" aria-controls="champs" aria-selected="false" href="#champs">Championnats Internationaux</a>
      </li>
    </ul>
  </div>
  <div class="card-body text-left tab-content">
    <div class="tab-pane fade show active" id="france" role="tabpanel" aria-labelledby="france-tab">
      <% if @upcoming_in_france.empty? %>
        <!-- rajouter un lien vers le calendrier une fois implémenté -->
        <p class="mx-2">Aucune compétition en France à venir pour l'instant.</p>
      <% else %>
        <div class="row">
          <% @upcoming_in_france.each do |c| %>
            <%= render "competition_card", competition: c %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="champs" role="tabpanel" aria-labelledby="champs-tab">
      <div class="row">
        <% @major_champs.each do |mc| %>
          <%= render "competition_card", competition: mc.competition || mc %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr/>
<h2 class="my-4 text-center">Dernières publications</h2>
<% if @other_posts.empty? %>
  <div class="alert alert-info">
    Aucune autre publication.
  </div>
<% else %>
  <% @other_posts.each do |post| %>
    <%= render "regular_post", post: post %>
  <% end %>
<% end %>
