<% provide(:title, "Editando " + @hardware.name) %>

<h1>Editando material</h1>

<%= render 'form', hardware: @hardware %>

<%= link_to 'Mostrar', @hardware %> |
<%= link_to 'Atrás', hardwares_path %>
