<% provide(:active_section, "association") %>
<%= render "layouts/page_wrapper", title: "Adhésions" do %>
  <p>Une partie des moyens financiers dont dispose l'association proviennent des adhésions. Toute personne de nationalité française ou étrangère peut adhérer à l'association en s'acquittant d'une cotisation de 5 euros, ce qui rend l'adhésion effective pour une durée d'un an.</p>

  <p>L'adhésion s'effectue sur internet : l'AFS utilise HelloAsso pour récolter ses dons et adhésion, vous pouvez donc vous rendre sur la <a href="https://www.helloasso.com/associations/association-francaise-de-speedcubing">page de l'AFS</a>, et cliquer sur le lien “Adhérer”.</p>

  <p>Les avantages dont disposent les adhérents sont :</p>

  <ul>
    <li>la gratuité des compétitions auxquelles l'association prend part</li>
    <li>la possibilité d'emprunter du matériel de l'association</li>
    <li>une bonification de points pour la coupe de France</li>
  </ul>
<% end %>
