<% provide(:title, "Nuevo socio") %>
<% provide(:active_section, "association") %>
<%= render "layouts/page_wrapper", title: "Nuevo socio" do %>
  <p>Parte de los medios financieros disponibles para la asociación provienen de las cuotas de socio. Cualquier persona puede hacerse socio de la asociación por un periodo de un año pagando una cuota de 10€.</p>

  <p>El pago de la cuota de socio se realiza por internet: la AMS utiliza HelloAsso para recolectar las cuotas y donaciones, por lo que puedes acceder a la <a href="https://www.helloasso.com/associations/association-francaise-de-speedcubing">página de la AMS</a> y hacer clic en el enlace "Unirse".</p>

  <p>Las ventajas disponibles para los socios son:</p>

  <ul>
    <li>descuento en las competiciones organizadas por la AMS</li>
    <li>posibilidad de contar con el material de la asociación</li>
  </ul>
<% end %>
