<% provide(:title, "Documentos") %>
<% provide(:active_section, "association") %>
<%= render "layouts/page_wrapper", title: "Documentos" do %>

  <h3 id="documentos">Documentos</h3>
  <ul>
    <li><a href="/uploads/EstatutosAMS_2019.pdf">Estatutos de la Asociación</a></li>
      <ul>
        <li><a href="/uploads/EstatutosAMS_2018.pdf">Versión del 2018</a></li>
      </ul>
    <li><a href="/uploads/ReglamentoSoftware_2019.pdf">Reglamento del Equipo de Software</a></li>
    <li><a href="/uploads/ReglamentoComunicación_2019.pdf">Reglamento del Equipo de Comunicación</a></li>
  </ul>

  <h3 id="actas-de-asambleas">Actas de Asambleas Generales</h3>
  <ul>
    <li><a href="/uploads/ActaAsamblea_2019-10-19.pdf">Asamblea General del 19 de octubre de 2019</a></li>
    <li><a href="/uploads/ActaAsamblea_2020-10-17.pdf">Asamblea General del 17 de octubre de 2020</a></li>
  </ul>

  <h3 id="actas-de-reuniones">Actas de Reuniones</h3>
  <ul>
    <li><a href="/uploads/ActaFundacionalAMS.pdf">Acta fundacional</a></li>
    <li><a href="/uploads/ActaReunión_2019-02-02.pdf">Reunión de la Junta Directiva del 2 de febrero de 2019</a></li>
    <li><a href="/uploads/ActaReunión_2019-07-19.pdf">Reunión de la Junta Directiva del 19 de julio de 2019</a></li>
    <li><a href="/uploads/ActaReunión_2019-09-14.pdf">Reunión de la Junta Directiva del 14 de septiembre de 2019</a></li>
    <li><a href="/uploads/ActaReunión_2020-01-19.pdf">Reunión de la Junta Directiva del 19 de enero de 2020</a></li>
    <li><a href="/uploads/ActaReunión_2020-07-26.pdf">Reunión de la Junta Directiva del 26 de julio de 2020</a></li>
  </ul>

  <h3 id="cuentas">Cuentas</h3>
  <ul>
    <li><a href="/uploads/CuentasAMS_2018.pdf">Cuentas de 2018</a></li>
    <li><a href="/uploads/CuentasAMS_2019.pdf">Cuentas de 2019</a></li>
    <li><a href="/uploads/CuentasAMS_2020.pdf">Cuentas de 2020</a></li>
  </ul>

  El logo de la asociación en sus diferentes versiones está disponible <%= link_to "aquí", page_path("association/logo") %>.
<% end %>
