<% provide(:title, "Logo") %>
<% provide(:active_section, "association") %>
<%= render "layouts/page_wrapper", title: "Logo" do %>
  <p>El logo de la AMS puede ser utilizado por todos los organizadores y Delegados WCA de competiciones organizadas por la AMS a modo de promoción: página web, cartel, ropa, etc.</p>
  <p>Para su uso en otras circunstancias, por favor contacta con la <%= mail_to("bureau@speedcubingfrance.org", "Junta Directiva de la AMS") %>.</p>
  <p>
    El logo existe en las siguientes version:
    <ul>
      <li><a href="/uploads/logos/logoafs.png">PNG</a></li>
      <li><a href="/uploads/logos/logoafs.svg">Vectorial</a></li>
      <li><a href="/uploads/logos/logoafsletters.png">PNG con texto</a></li>
      <li><a href="/uploads/logos/logoafsletters.svg">Vectorial con texto</a></li>
    </ul>
    El logo fue creado por Javier Tovar Castro.
  </p>
<% end %>
