<% provide(:title, "Logo") %>
<% provide(:active_section, "association") %>
<%= render "layouts/page_wrapper", title: "Logo" do %>
  <p>El logo de la AMS puede ser utilizado por todos los organizadores y Delegados WCA de competiciones organizadas por o en colaboración con la AMS a modo de promoción: página web, cartel, ropa, etc.</p>
  <p>Para su uso en otras circunstancias, por favor contacta con la <%= mail_to("junta@speedcubingmadrid.org", "Junta Directiva de la AMS") %>.</p>
  <p>
    El logo existe en las siguientes version:
    <ul>
      <li><a href="/uploads/logos/ams_logo.png">Archivo .png</a></li>
      <li><a href="/uploads/logos/ams_logo.svg">Archivo .svg</a></li>
    </ul>
    El logo fue creado por Javier Tovar Castro.
  </p>
<% end %>
