<header>
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to(image_tag(asset_pack_path("images/Logo_AFS_Seul.svg"), class: "brand-logo"), root_path) %>
        <div class="brand-header">
          <div class="brand-name">
            <%= link_to root_path do %>
              <span class="blue">Association Française de Speedcubing</span>
              <%#<span class="white">Française</span>%>
              <%#<span class="red">de Speedcubing</span>%>
            <% end %>
          </div>
          <div class="brand-social">
            <a href="#"><i class="fa fa-facebook-official"></i></a>
            <a href="#"><i class="fa fa-twitch"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
          </div>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-afs" aria-controls="navbar-afs" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-container w-100">
        <div class="collapse navbar-collapse justify-content-sm-center rounded" id="navbar-afs">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link nav-home active" href="#"><i class="fa fa-home"></i> Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-association" href="#">Association</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link nav-speedcubing dropdown-toggle" href="#" id="dropdown-speedcubing" role="button" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
                Speedcubing
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdown-speedcubing">
                <a class="dropdown-item" href="#">Info</a>
                <a class="dropdown-item" href="#">Compétition</a>
                <a class="dropdown-item" href="#">Sites persos</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-contact" href="#">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" data-hover="dropdown">
                <div class="avatar-thumbnail "
                     style="background-image: url('https://www.worldcubeassociation.org/uploads/user/avatar/2008VIRO01/1473886131_thumb.jpg');"
                     ></div>

                <%#<span class="badge badge-pill badge-secondary">3</span>%>
                <span class="caret"></span>
              </a>
              <div class="dropdown-menu" role="menu">
                <h6 role="presentation" class="dropdown-header">
                  Philippe Virouleau piol
                </h6>
                <a class="dropdown-item" href="/notifications">
                  Notifications
                  <span class="badge-pill">3</span>
                </a>
                <a class="dropdown-item" href="/profile/edit">Editer votre profil</a>
                <div class="dropdown-divider"></div>
                <a role="presentation" class="dropdown-header">
                  Administration
                </a>
                <a class="dropdown-item" href="/profile/edit">Editer votre profil</a>

                <div class="dropdown-divider"></div>
                <a role="presentation" class="dropdown-header">
                  Délégué
                </a>
                <a class="dropdown-item" href="/profile/edit">Editer votre profil</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
