<% elements ||= {} %>
<% active ||= "" %>
<% if elements.any? %>
  <nav class="nav nav-pills nav-fill sticky-nav mb-4">
    <% elements.each do |key, infos| %>
      <a class="nav-item nav-link <%= active == key ? "active" : "" %>" href="<%= infos[:link] %>"><%= infos[:name] %></a>
    <% end %>
  </nav>
<% end %>
